---
layout: page
---

{{ content }}

{% assign posts = paginator.posts | default: site.posts %}

<div class="post-cards-container">
  {% for post in posts %}
  <a href="{{ post.url | absolute_url }}" class="post-card-link">
    <div class="post-card">
      {%- capture thumbnail -%}
        {% if post.thumbnail-img %}
          {{ post.thumbnail-img }}
        {% elsif post.cover-img %}
          {% if post.cover-img.first %}
            {{ post.cover-img[0].first.first }}
          {% else %}
            {{ post.cover-img }}
          {% endif %}
        {% else %}
        {% endif %}
      {% endcapture %}
      {% assign thumbnail=thumbnail | strip %}

      {% if thumbnail != "" %}
      <div class="post-card-image">
        <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
      </div>
      <div class="post-card-content">
        <h2 class="post-card-title">{{ post.title | strip_html }}</h2>
        {% if post.subtitle %}
          <p class="post-card-subtitle">{{ post.subtitle }}</p>
        {% endif %}
      {% else %}
      <div class="post-card-content post-card-content-no-image">
        <h2 class="post-card-title">{{ post.title | strip_html }}</h2>
        {% if post.subtitle %}
          <p class="post-card-subtitle">{{ post.subtitle }}</p>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </a>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">
      <i class="fas fa-arrow-left" alt="Newer Posts"></i>
      <span class="d-none d-sm-inline-block">Newer Posts</span>
    </a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">
      <span class="d-none d-sm-inline-block">Older Posts</span>
      <i class="fas fa-arrow-right" alt="Older Posts"></i>
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
